@charset "UFT-8";

/* Mobile First */

/* 
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #5f2c82;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section {
    background-color: white;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.450);
}

section > div#imagem {
    height: 200px;
    background: #5f2c82 url(../imagens/metal.jpg) no-repeat;
    background-position: left center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

section > div#formulario {
    padding: 10px;
}

section div#formulario h1 {
    text-align: center;
    margin-bottom: 10px;
}

section div#formulario p {
    text-align: justify;
    font-size: 0.8em;
}

div.caixa-inputs {
    width: 100%;
    margin-top: 10px;
    position: relative;
}

div.input-texto  {
    background-color: #5f2c82;
    border-radius: 7px;
    margin-bottom: 5px;
}

div.input-texto > input {
    width: 89%;
    height: 35px;
    padding: 3px;
    margin: 3px 0;
    margin-left: 30px;
    border-radius: 7px;
    border: 1px solid #5f2c82;
    background-color: #94cfcd;
    font-size: 1em;
}

div.input-texto > input:hover {
    background-color: white;
    border: 1px solid black;
}

div.input-senha {
    background-color: #5f2c82;
    border-radius: 7px;
    margin-bottom: 5px;
}

div.input-senha > input {
    width: 89%;
    height: 35px;
    padding: 3px;
    margin: 3px 0;
    margin-left: 30px;
    border-radius: 7px;
    border: 1px solid #5f2c82;
    background-color: #94cfcd;
    font-size: 1em;
}

div.input-senha > input:hover {
    background-color: white;
    border: 1px solid black;
}

span#pessoa {
    color: white;
    position: absolute;
    top:10%;
    left: 1%;
}

span#senha {
    color: white;
    position: absolute;
    top:65%;
    left: 1%;
}

div.caixa-botoes {
    width: 100%;
    margin-top: 5px;
}

div.input-entrar {
    width: 100%;
    margin:5px 0px;
}

div.input-entrar > input {
    width: 100%;
    padding: 11px;

    border-radius: 7px;
    border: none;

    background-color: #53aaa7;
    color: white;

    font-size: 1em;

    cursor: pointer;
}
div.input-entrar > input:hover {
    background-color: #30615f;
}

div.caixa-botoes > a {
    /* width: 100%; */ /*não precisou usar a largura*/
    border: 1px solid #53aaa7;
    border-radius: 7px;
    text-decoration: none;
    text-align: center;
    color: #2d6462;
    padding: 7px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.caixa-botoes > a:hover {
    background-color: #6cd3cf;
}

div.caixa-botoes > a > span#email {
    color: #2d6462;
    margin-left: 5px;
}